[Unit]
Description=Custom Klipper variable
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/home/pi/klipper-penguin-bridge/
ExecStart=/home/pi/klipper-penguin-bridge/.venv/bin/python /home/pi/klipper-penguin-bridge/klipper-penguin-bridge.py
Restart=always
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target